* {
  margin: 0;
  padding: 0;
  /* outline: 2px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

section {
  height: 100vh;
  width: 100vw;
}

/* Navigation */
.navigation-container {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: transparent;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  /* justify-content: center; */
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background-color: #ffffff;
}

.nav-bar a {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #e4541e;
  font-weight: bold;
}

.navigation-links {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.user-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
  flex-direction: row;
  gap: 20px;
}

.user-div {
  display: flex;
  /* gap: 10px; */
  height: 100%;
  justify-content: center;
  align-items: center;
}

.user-links i {
  color: #e4541e;
}

.user-links p {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  padding-left: 10px;
  font-weight: bold;
}

/* Hero Section */
#hero-section {
  background-image: url("src/images/aot_wallpaper.jpg");
  background-size: cover;
  background-position: center;
  /* border-bottom: 2px solid #ffffff; */
}

.hero-main-div {
  height: 100%;
  width: 100%;
  display: flex;
}

.hero-left-div {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 50px;
  text-align: left;
  justify-content: center;
}

.hero-left-div h1 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 7rem;
  color: #ffffff;
}

.hero-left-div h2 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-color: #ffd28b;
  color: #000000;
  /* margin-top: 20px; */
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 10px solid #65553c;
}

.hero-left-div h3 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #e41e1e;
  color: #ffffff;
  margin-top: 20px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
}

.hero-left-div p {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 20px;
  line-height: 1.3;
  opacity: 0.8;
}

.hero-right-div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-right-div img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 70%;
  box-shadow: 5px 5px 5px #000000a3;
  border: 2px solid #e4541e;
}

.hero-right-div img:hover {
  transform: scale(1.1);
}

.hero-manga-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero-manga-button-container button {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  width: 50%;
  height: 50px;
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: bolder;
}

#add-to-cart-button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #14110d;
  color: #ffffff;
  border: 2px solid #ffffff;
}

#add-to-cart-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#buy-now-button {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffd28b;
  color: #14110d;
  border: 2px solid #ffffff;
}

#buy-now-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Store Section */
#store-section {
  background-color: #14110d;
  height: 400vh;
  border-bottom: 2px solid #ffffff;
}

.store-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
  width: 100%;
}

.store-header-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 80%;
  flex-wrap: wrap;
}

.store-header-div img {
  height: 50%;
}

.store-header-div h1 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: white;
  margin-top: 20px;
}

.popular-mangas-div {
  display: flex;
  width: 80%;
  height: 40%;
}

.popular-mangas-div h1 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.daily-mangas-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  margin-top: 50px;
}

.daily-mangas-div h1 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.daily-mangas-header h1 {
  font-size: 2rem;
  padding-left: 20px;
}

.daily-mangas-products {
  display: flex;
  margin-top: 20px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.manga-container {
  height: fit-content;
  width: 20%;
}

.manga-container img {
  width: 100%;
  border: 2px solid #ffffff;
}

.manga-container h1 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 20px;
  font-size: 1.2rem;
}

.manga-container h3 {
  margin-top: 10px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: yellow;
}

.manga-container p {
  margin-top: 10px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 0.7rem;
  opacity: 0.8;
}

/* Founders Section */
#founders-section {
  background-color: #14110d;
}

.founders-main-div {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  height: 100%;
  width: 100%;
}

.famadico-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.famadico-div h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.famadico-div p {
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  text-align: center;
  opacity: 0.7;
}

.famadico-div img {
  width: 75%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.baybayan-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #14110d;
  justify-content: center;
  align-items: center;
}

.baybayan-div h1 {
  color: #ffffff;
  margin-top: 20px;
}

.baybayan-div p {
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  opacity: 0.7;
}

.baybayan-div img {
  width: 75%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.dancel-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.dancel-div h1 {
  color: #ffffff;
  margin-bottom: 20px;
}

.dancel-div p {
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  text-align: center;
  opacity: 0.7;
}

.dancel-div img {
  width: 75%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.rone-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #14110d;
  justify-content: center;
  align-items: center;
}

.rone-div h1 {
  color: #ffffff;
  margin-top: 20px;
}

.rone-div p {
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  opacity: 0.7;
}

.rone-div img {
  width: 75%;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
/* About Section */
#about-section {
  background-color: #14110d;
  border-bottom: 2px solid #ffffff;
}

.main-about-div {
  display: flex;
  height: 100%;
  width: 100%;
}

.about-left-div {
  display: flex;
  text-align: right;
  flex: 1;
}

.about-left-div-header h1 {
  font-size: 4rem;
  margin-right: 25px;
  margin-top: 25px;
  color: #ffffff;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
}

.about-left-div-header p {
  opacity: 0.7;
  margin-right: 25px;
  margin-top: 25px;
  color: #ffffff;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
}

.about-right-div {
  display: flex;
  flex: 2;
  background-image: url("src/images/about_background_image.jpg");
}

/* Contacts Section */
#contact-section {
  height: 150vh;
  background-color: #14110d;
}

.main-contact-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contact-top-div {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  border-bottom: 3px solid #ffd972;
}

.contact-header-div {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  background-image: url("src/images/contact_background_image.png");
}

.contact-header-div h1 {
  font-size: 4rem;
}

.contact-header-div p {
  opacity: 70%;
  margin-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.contact-header-div-description {
  width: 50%;
}

.contact-bottom-div {
  display: flex;
  flex: 1;
  background-color: #222d32;
}

.contact-bottom-div {
  display: flex;
}

.contact-first-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #ffffff;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}

.contact-first-container h1 {
  margin-top: 30px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.contact-first-container p {
  margin-top: 30px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.7;
  text-align: center;
}

.contact-second-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #ffffff;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}

.contact-second-container h1 {
  margin-top: 30px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.contact-second-container p {
  margin-top: 30px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.7;
  text-align: center;
}

.contact-third-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #ffffff;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}

.contact-third-container h1 {
  margin-top: 30px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.contact-third-container p {
  margin-top: 30px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.7;
  text-align: center;
}
